body{
    height: 98vh;
    background-image: url('../imagens/wallpaper003.jpg');
    background-position: right bottom;
}/*quando colocamos o posicionamento, por mais que nossa tela aumente ou diminua, ele sempre vai respeitar o posicionamento estilizado*/